<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= htmlWebpackPlugin.options.pageTitle %></title>
	</head>
	<body data-page="<%= htmlWebpackPlugin.options.pageName %>">
		<js-textbox></js-textbox>
		<js-modal>
			<form>
				<input type="text" name="" id="" />
				<input type="text" name="" id="" />
				<input type="text" name="" id="" />
				<button>save</button>
				<button>cancel</button>
			</form>
		</js-modal>
	</body>
</html>
