select {
	width: 100%;
	border: 1.5px solid var(--select-border-color);
	border-radius: 0.5rem;
	height: 40px;
	padding: 0.5rem 1rem;
	color: var(--select-text-color);
	background-color: var(--select-background-color);
	&:focus,
	&:focus-visible {
		outline: none;
	}
	&:required + *:is(legend, label) {
		&::after {
			content: "*";
			color: var(--required-icon-color);
		}
	}
}
